body,html{height: 100%;margin: 0px;}
.sidebar{
	width: 20%;
	height: 100%;
	background-color: #000;
}
.full-height{
	height: 100%;
}
.shadow{
	box-shadow: 5px 5px 8px #888888;
}
.setting-image{
	height: 400px;
	width: 600px;
}
.search-image{
	height: 100%;
	width: 100%;
}
@media only screen and (max-width: 768px) {
  .sidebar{
  	width: 0px;
  }
}