.m-t-n-20{margin-top: -20px;}
.banner-main{
	height: 100%;
	width: 100%;
}
.banner{
	padding: 0px;
}
.m-t-20{
	margin-top: 20px;
}
.portfolio-img{
	height: 100%;
	width: 100%;
	margin: 0px;
}
.p-card{
	margin-bottom: 10px;
}
.bg-black{
	background-color: #000000;
	color: #ffffff; 
}
.bg-about{
	background: #f1f1f1f1;
}
.bg-grey{
	background: #f1f1f1f1;
}
.bg-gold{
	color: #FFD700;
}
.footer{
	margin-bottom: -22px;
}
.feedback{
	width: 80%;
	margin: auto;
}
.m-t-10{
	margin-top: 10px;
}
.m-b-5{
	margin-bottom: 5px;
}
.w3-teal{
	background-color: #000!important;
}
.w3-modal-content{
	width: 30%!important;
}
.modal-h3{
	margin: 5px;
}
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.for-sm{
	display: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #ddd;
  color: #f1f1f1f1;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.nav-item a{
	font-size: 20px!important;
	margin-left: 10px!important;
}
/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
@media only screen and (max-width: 768px) {
  .feedback{
  	width: 100%;
  	margin: auto;
  }
  .w3-modal-content{
	width: 90%!important;
  }
  .for-lg{
  	display: none;
  }
  .for-sm{
  	display: block;
  }
}
